@model second_Mvc_Web_Apps.Models.RegisterModel

@{
    ViewBag.Title = "Register"; // Changed title to reflect registration
}

<style>
    /* Your existing CSS styles */
    .gradient-custom-2 {
        /* fallback for old browsers */
        background: #fccb90;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }

    @@media (min-width: 768px) {
        .gradient-form {
            height: 200vh !important;
        }
    }

    @@media (min-width: 769px) {
        .gradient-custom-2 {
            border-top-right-radius: .6rem;
            border-bottom-right-radius: .6rem;
        }
    }
</style>

@using (Html.BeginForm("Register", "Register", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">

                                    <div class="text-center">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                                             style="width: 185px;" alt="logo">
                                        <h4 class="mt-1 mb-5 pb-1">Create Your Account</h4> @* Changed heading for registration *@
                                    </div>

                                    @* Use Html Helpers for model binding *@
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        @Html.LabelFor(model => model.fullname, new { @class = "form-label" })
                                        @Html.EditorFor(model => model.fullname, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your full name" } })
                                        @Html.ValidationMessageFor(model => model.fullname, "", new { @class = "text-danger" })
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        @Html.LabelFor(model => model.email, new { @class = "form-label" })
                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your email address" } })
                                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        @Html.LabelFor(model => model.password, new { @class = "form-label" })
                                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your password" } })
                                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                    </div>

                                    @*Add fields for regdate, countryid, countryname *@
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        @Html.LabelFor(model => model.regdate, new { @class = "form-label" })
                                        @Html.EditorFor(model => model.regdate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        @Html.LabelFor(model => model.countryid, new { @class = "form-label" })
                                        @Html.EditorFor(model => model.countryid, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter country ID" } })
                                        @Html.ValidationMessageFor(model => model.countryid, "", new { @class = "text-danger" })
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        @Html.LabelFor(model => model.countryname, new { @class = "form-label" })
                                        @Html.EditorFor(model => model.countryname, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter country name" } })
                                        @Html.ValidationMessageFor(model => model.countryname, "", new { @class = "text-danger" })
                                    </div>
                                    
                                    <div class="mb-4">
                                        <label class="form-label">Upload Image</label>
                                        <input type="file" name="imageFile" class="form-control" />
                                    </div>

                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">
                                            Register
                                        </button>
                                        <a href="@Url.Action("Register","Register")">Already have an account</a>                
                                    </div>

                                    <div class="d-flex align-items-center justify-content-center pb-4">
                                        <p class="mb-0 me-2">Already have an account?</p>
                                        @* Assuming a "Login" action in "Account" controller, adjust as needed *@
                                        @Html.ActionLink("Login here", "Login", "Account", null, new { @class = "btn btn-outline-danger" })
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                    <h4 class="mb-4">We are more than just a company</h4>
                                    <p class="small mb-0">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @* Include any MDBootstrap or other necessary JS if not already bundled globally *@
}